*
{
    margin:0;
    padding:0;
}
.header{
    height: 120px;
    width: 1000px;
    margin: 0 auto;  
}
.header_left{
    float: left;
    line-height:120px;
}
.header_left img{
    width:90px;
    padding-top:10px;
}
.header_right{
    float: right;
    position: relative;
    height: 120px;
}
.clear_fix:after{
    content: '';
    display: block;
    clear: both;
}
.header_right>div{
    position: absolute;
    top: 0px;
    right:0px;
}
.header_right{
    float: right;
    position: relative;
    height: 120px;
}
.header_right ul{
    margin-top: 82px;
}
.header_right ul a{
    float: left;
    line-height: 13px;
}
.header_right ul a li{
    border-right: 1px solid #000000;
    font-size: 15px;
    height: 13px;
    padding: 0 25px;
    font-weight: bold;
}
.header_right ul a li:hover{
    color: dimgray;
}
.header_right ul a:last-child li{
    border-right: none;
}
.header_right ul a:nth-child(3) li{
    border-left: 1px solid #000000;
}
.header_right ul a .move_list{
    position: relative;
    padding-bottom: 25px;
    border-right: none;
}
.move_list .show_list{
    display: none;
    z-index: 100;
    position: absolute;
    top: -56px;
    left: 0 ;
    width: 126px;
    background: dimgray;
    text-align: center;
}
.move_list .show_list li{
    padding: 10px 0;
    width: 126px;
    color: #fff;
    text-align: center;
    border-right:none;
}
.move_list .show_list li:hover{
    background: rgb(150,187,196);
    color: #fff;
}
.move_list:hover .show_list{
    display: block;
   
}
.banner{
    min-width:900px;
}
.banner_wrap{
    height: 750px;
    width: 100%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.banner_wrap .banner_img{
    height: 100%;
    width: 200%;
    margin: 0 auto;
    position:relative;

}
.banner_wrap .banner_img li{
    float: left;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    position:absolute;
}
.banner_wrap .banner_img li img{
    width: 100%;
    height:100%
}
.banner_left{
    width: 90px;
    position: absolute;
    top: 45%;
    left: 45px;
    cursor:pointer;
    border-radius:50px;
}
    
.banner_left img {
    width: 100%;
}
.banner_right{
    width: 90px;
    position: absolute;
    top: 45%;
    right: 45px;
    cursor:pointer;
    border-radius:50px;

}
.banner_right img {
    width: 100%;
}
.content_one{
    position: relative;
    max-width: 635px;
    margin: 0 auto;
    height: 220px; 
}
.content_one img{
    padding: 70px 30px;
    width: 70px;
}

.content_two{
    width: 100%;
    background: lavender;
    text-align: center;
    height: 430px;
}
.content_header{
    width: 1040px;
    margin: 0 auto;
}
.content_header img{
    width:100px;
    
    
}
.content_header div:nth-child(2){
    margin-top: 20px;
    margin-bottom: 5px;
   
}
.content_header div span{
    color: #666;
    font-size: 13px;
}
.content_header div:nth-child(3){
  padding-bottom: 40px;
}
.mid{
    max-width: 1060px;
    margin: 0 auto;
}
.mid img{
    padding: 10px 50px 40px 15px;
    width:150px;
}
.mid img:hover{
    opacity: 0.7;
}
.content_three{
    width: 100%;
    height: 350px;
    background: lavender;
    background-position: center center;
}
.three_wrap{
    text-align: center;
}
.three_wrap div:nth-child(1){
    padding-top: 65px;
}
.three_wrap span{
    color: #666;
    font-size: 13px;
    font-family: 微软雅黑;
    display: block;
}
.three_wrap div:nth-child(2){
    margin-top: 50px;
}
.top_text{
    font-size:23px;
    font-weight:bold;  
    color:gray;     
}
.bottom_text span:first-child{
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 5px;
}
.three_wrap .bottom_text span{
    font-size: 16px;
    color: gray;
    font-family: SimSun;

}
.bottom_text span:nth-child(3){
    font-weight: bold;
    font-size: 18px;
    padding: 5px 5px;
}
.top_text span:first-child{
    font-size: 16px;
}
.four_wrap{
    text-align: center;
    padding-bottom: 50px;
    color:dimgray;
    margin-top: 50px;
    font-size:14px;
}

